# Fecha más antigua a la que se puede navegar
REACT_APP_MIN_ALLOWED_DATE=2021-08-01T00:00:00.000Z

# Fecha más reciente a la que se puede navegar
REACT_APP_MAX_ALLOWED_DATE=2022-07-31T00:00:00.000Z

# Lista de años visibles en el dropdow
REACT_APP_YEAR_LIST=2021,2022

# Template para el URL de las páginas
REACT_APP_PAGE_URL_TEMPLATE=http://santillana.com/paginas/{date}/{grade}/{subject}/{book}/page_{page}.png
